:root {
  --border-color: rgb(227, 230, 215);
}

body,
div,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  position: relative;
  height: 100vh;
  background: -webkit-linear-gradient(
    135deg,
    rgb(40, 169, 123),
    rgb(90, 52, 161)
  );
  background: linear-gradient(135deg, rgb(40, 169, 123), rgb(90, 52, 161));
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  border: 1px solid var(--border-color);
  padding: 5px 5px 0 5px;
  border-radius: 3px 3px 0 0;
}
.row:not(:first-child) {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.output {
  width: inherit;
  height: 50px;
  border: 1px solid var(--border-color);  
}
.btn {
  padding: 15px;
  border: 1px solid var(--border-color);
  border-style: outset;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background: -webkit-linear-gradient(
    42deg,
    rgb(255, 255, 255),
    rgb(146, 147, 148)
  );
  background: linear-gradient(42deg,
    rgb(255, 255, 255),
    rgb(146, 147, 148));
    font-weight: 500;
    font-size: 1.2em;
}
.btn:focus {
  outline: none;
  border: 2px solid var(--border-color);
  border-style: inset;
  background: -webkit-linear-gradient(
    -41deg,
    rgb(255, 255, 255),
    rgb(146, 147, 148)
  );
  background: linear-gradient(-41deg,
    rgb(255, 255, 255),
    rgb(146, 147, 148));
}
